body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.board {
  background: transparent url(nebula.jpg) 0 0 no-repeat;
  background-size:600px 400px;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.scoreboard {
  position: absolute;
  top: 30px;
  right: 30px;
}

.asteroid {
  width: 20px;
  height: 20px;
}